[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-editor = "==1.0.4"
requests = "==2.31.0"
pymongo = "==4.6.1"
Flask = "==2.3.3"
Flask-DebugToolbar = "==0.14.1"
Flask-Login = "==0.6.3"
jupyter = "*"
notebook = "*"
schema = "0.7.5"
dnspython = "==2.4.2"
python-dotenv = "*"

[dev-packages]

pytest = "==7.1.1"

[requires]
python_version = "3.10"
